<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask the Light</title>
    <style>
        @font-face {
            font-family: "PWSimpleHandwriting";
            src: url("/static/fonts/PWSimpleHandwriting.woff2") format("woff2");
        }

        body {
            font-family: "PWSimpleHandwriting", sans-serif;
        }
    </style>
    <script>
        function clearPage() {
            document.getElementById("error").innerHTML = "";
            document.getElementById("topic").innerHTML = "";
            document.getElementById("title").innerHTML = "";
            document.getElementById("response").innerHTML = "";
            document.getElementById("feedback-form").reset();
        }

        document.addEventListener('DOMContentLoaded', clearPage);
    </script>
</head>

<body>
    <h1>This Little Light of Mine</h1>
    <form method="post">
        <label for="topic">What does Jesus think about </label>
        <input type="text" id="topic" name="topic" required>
        <label for="topic">?</label>
        <button type="submit" onclick="clearPage()">Ask</button>
    </form>
    <br>
    <hr>
    <br>
    {% if error %}
    <div id="error">{{ error|safe }}</div>
    {% endif %}
    {% if topic %}
    <div id="topic">
        {{ topic }}
    </div>
    {% endif %}
    {% if title %}
    <div id="title">
        <h3>{{ title }}</h3>
    </div>
    {% endif %}
    {% if words %}
    <div id="response">{{ words|safe }}</div>
    <form id="feedback-form" action="/submit-feedback" method="post">
        <input type="hidden" name="topic" value="{{ topic }}">
        <input type="hidden" name="title" value="{{ title }}">
        <input type="hidden" name="response" value="{{ words }}">
        <button type="submit" name="feedback" value="success">Success</button>
        <button type="submit" name="feedback" value="fail">Fail</button>
        <br>
        <label for="additional-thoughts">Additional thoughts:</label><br>
        <textarea id="additional-thoughts" name="additional_thoughts" rows="4" cols="50"></textarea>
    </form>
    {% endif %}

</body>

</html>