<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Ask the Light</title>

    <script>
        // clear the page when it first loads
        document.addEventListener('DOMContentLoaded', clearPage);
    </script>
</head>

<body>
    <h1>This Little Light of Mine</h1>

    <form id="form" method="post"> 
        <label for="topic">What does Jesus think about </label>
        <input type="text" id="topic" name="topic" required>
        <label for="topic">?</label>
        <button type="submit" onclick="formStarting()">Ask</button>
    </form>
    <br>
    <hr>
    <br>
    {% if error %}
    <div id="error">{{ error|safe }}</div>
    {% endif %}
    {% if topic %}
    <div id="topic">
        {{ topic }}
    </div>
    {% endif %}
    {% if title %}
    <div id="title">
        <h3>{{ title }}</h3>
    </div>
    {% endif %}
    {% if response %}
    <div id="response">{{ response|safe }}
        {% if topic or title or response %}
            {% set topic = '' %}
            {% set title = '' %}
            {% set words = '' %}
        {% endif %}
    </div>
    {% endif %}
    <script src="static\js\actions.js"></script>
</body>

</html>